<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-info" ><div class="opacity-25"></div>
    <div class="container-xxl"></div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'drama:index' %}"><strong><strong>.</strong> DRAMA</strong></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (logout)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">login</a>
                    {% endif %}
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-white" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>