{% extends 'base.html' %}
{% load drama_filter %}
{% block content %}
    <style>

        @font-face {
             font-family: 'Handon3gyeopsal600g';
             src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff');
             font-weight: normal;
             font-style: normal;
        }
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        tr {
            font-family: 'Handon3gyeopsal600g';
        }

        td {
            font-family: 'Pretendard-Regular';
        }
    </style>

<div class="img-fluid">
    <img src="https://pbs.twimg.com/media/EfMBIojU4AAN0eD?format=jpg&name=large" alt="" style="width:100%; height:auto;">
</div>
<div class="container p-0">
    <br>
    <br>
    <div class="container my-0">
        <table class="table">
            <thead>
            <tr class="text-center thead-$white-#fff">
                <div class="border-bottom">
                    <th>NO</th>
                    <th>RECOMMEND</th>
                    <th style="width:50%">SUBJECT</th>
                    <th>NAME</th>
                    <th>DATE</th>
                </div>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr class="text-center">
                <td>
                    <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
                </td>
                <td>
                    {% if question.voter.all.count > 0 %}
                    <span class="badge badge-info px-2 py-1">{{ question.voter.all.count }}</span>
                    {% endif %}
                </td>
                <td class="text-left">
                    <a href="{% url 'drama:detail' question.id %}">{{ question.subject }}</a>
                    {% if question.answer_set.count > 0 %}
                    <span class="text-info small ml-2">{{ question.answer_set.count }}</span>
                    {% endif %}
                </td>
                <td>{{ question.author.username }}</td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
            <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}"><</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        <a href="{% url 'drama:question_create' %}" class="btn btn-outline-info">질문 등록</a>
    </div>
</div>
{% endblock %}